h1 {
    max-width: 800px;
    padding: 10px 20% 10px 20%;
}

li {
    max-width: 800px;
    font-family: 'Roboto', sans-serif;
    margin: 5px 5px 5px 5px;
    
}

.seznam-filmy {
    padding: 0 21% 10px 21%;
    color: rgb(69, 142, 184);
}