<footer class="paticka">
    <div class="paticka-1">
        <h3 class="nadpis-paticka">Podobné weby</h3>
            <ul class="seznam-paticka-1">
                {% for info in podobneWeby %}
  		            <li class="polozky-paticka">
                        <a class="polozky-paticka" href="{{ info.adresa | slug }}">{{ info.nazev }}</a>
                    </li>
  	            {% endfor %}
            </ul>

    </div>

    <div class="paticka-2">
        <h3 class="nadpis-paticka">Obecné</h3>
            <ul class="seznam-paticka-2">
                <li class="polozky-paticka"> 
                {% for data in puvodDat %}
                    <a href="{{ data.nazev | slug }}" class="data-nazev">{{ data.nazev }}</a>    
                {% endfor %}
                </li>
                <li class="polozky-paticka">
                    <a href="https://www.11ty.dev/">Elementy dokumentace</a>
                </li>
                <li class="polozky-paticka">
                    <a href="https://github.com/Czechitas-podklady-WEB/Cviceni-Eleventy-filmy">Zadání cvičení</a>
                </li>
            </ul>
    </div>
</footer>